.floating-cart {
  position: fixed;
  top: 200px;
  right: 16px;
  z-index: 1000;
}

.cart-icon {
  display: block;
  height: 9vh;
  border-radius: 50px;
  transition: background-color 1s;
}

.cart-icon:hover {
  box-shadow: 0px 0px 10px rgb(240, 99, 141);
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: -7px;
  right: -3px;
  color: rgb(241, 7, 78);
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 1rem;
  font-weight: extra-bold;
}

.cart-page {
  padding: 2rem;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.cart-list {
  list-style: none;
  padding: 0;
  border-bottom: 0.1rem solid blanchedalmond;
  min-width: 40rem;
}

.cart-list> :last-child{
  margin-bottom: 2rem;;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

.cart-total {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.clear-cart-btn {
  background-color: rgba(241, 141, 101, 0.658);
  border: 4px dotted hotpink;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  border-radius: 0.4rem;
  padding-bottom: 0.4rem;
  cursor: pointer;
  font-weight: bold;
  margin-top: 0.5rem;
  color: blanchedalmond;
  transition: transform 0.1s ease, box-shadow 0.3s ease;
  font-family: inherit;
}



.clear-cart-btn:hover, .remove-button:hover {
  transform: scale(1.07);
  box-shadow: 0 0 10px rgb(240, 99, 141);
}

.remove-button{
  color: blanchedalmond;
  background-color: rgba(247, 158, 76, 0.226);
  padding-bottom: 0.3rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  margin-left: 4rem;
  transition: transform 0.1s ease, box-shadow 0.3s ease;
  font-family: inherit;
  border: 4px dotted hotpink;
}