.logo{
  display: block;
  margin: auto;
  height: 13vh;
  border-radius: 50px;
  transition: background-color 1s;
  box-shadow: 0px 0px 10px rgba(240, 121, 11, 0.5);
}

.logo:hover {
  box-shadow: 0px 0px 10px rgb(240, 99, 141);
  cursor: pointer;
}

.header-container {
  width: 100%;
  padding: 3vw;
  display: flexbox;
}

footer {
  margin-top: 0;
}