.logo{
  display: block;
  margin: 0;
  margin-top: 1.6rem;
  height: 9vh;
  border-radius: 50px;
  transition: background-color 1s;
  box-shadow: 0px 0px 10px rgba(240, 121, 11, 0.5);
}

.logo-home{
  display: block;
  margin: 0;
  height: 19vh;
  border-radius: 50px;
  transition: background-color 1s;
  box-shadow: 0px 0px 10px rgba(240, 121, 11, 0.5);
}

.logo-container a {
  display: inline-block;
}


.logo:hover {
  box-shadow: 0px 0px 10px rgb(240, 99, 141);
  cursor: pointer;
}

header {
  background-color: #f8c8dc;
  padding-top: 0.1rem;
  margin-bottom: 0.5rem;
  border: 4px dotted rgb(250, 129, 189);;
}

.header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8c8dc;
  padding: 1rem;
  margin-top: 0.5rem;
  border: 4px dotted rgb(250, 129, 189);
} 

.social-logo{
  width: 1rem;
  height: 1rem;
  margin: 0.5rem;
  margin-top: 0;
  margin-bottom: 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 0px 10px rgba(240, 19, 122, 0.781);
  border-radius: 50%;
}

.social-logo:hover {
  box-shadow: 0px 0px 10px rgb(231, 149, 42);
  cursor: pointer;
  transform: scale(1.1);
}

.footer > p{
  color: rgba(240, 19, 122, 0.5);
  font-weight: bold;
  font-size: 0.7rem;
}