.large-product-card {
  width: 900px;
  background-color: rgba(245, 227, 237, 0.37);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(236, 164, 97, 0.87);
  padding: 2rem;
  text-align: center;
  margin: 1rem;
  font-family: sans-serif;
}

.large-product-image {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 0.5rem;
}

.large-product-content {
  padding: 1rem;
}

.large-product-name {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  color: black;
}

.large-product-price {
  font-weight: bold;
  color: black;
  margin: 0.6rem 0;
}

.large-product-content p{
  color: rgba(245, 227, 237, 0.37);
}

.large-product-buy-button {
  background-color: lightpink;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  margin-top: 0.5rem;
  transition: transform 0.1s ease, box-shadow 0.3s ease;
}

.large-product-buy-button:hover {
  transform: scale(1.07);
  box-shadow: 0 0 10px rgb(240, 99, 141);
}

.large-product-input{
  border: none;
  background-color: rosybrown;
  color:blanchedalmond;
  box-shadow:  0px 0px 10px;
  box-shadow:  0px 0px 10px darksalmon;
}
