.large-product-card {
  width: 50vw ;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgb(236, 164, 97);
  padding: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  margin: 1rem;
  font-family: sans-serif;
}

.large-product-image {
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  display: block;
}

.large-product-content {
  padding: 1rem;
}

.large-product-name {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  color: blanchedalmond;
}

.large-product-price {
  font-weight: bold;
  margin: 0.6rem 0;
}

.large-product-content p{
  color: blanchedalmond;
}

.large-product-buy-button {
  background-color: rgba(241, 177, 187, 0.404);
  border: 4px dotted hotpink;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  font-weight: bold;
  margin-top: 0.5rem;
  color: blanchedalmond;
  transition: transform 0.1s ease, box-shadow 0.3s ease;
}

.large-product-buy-button:hover {
  transform: scale(1.07);
  box-shadow: 0 0 10px rgb(240, 99, 141);
}

.large-product-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0;;
  border: 0.1rem solid rgba(240, 19, 122, 0.5);
  padding-bottom: 1rem;
  border-radius: 0.4rem;
}

.ingredients-highlight {
  font-weight: bold;
  font-size: 1.1rem; /* or larger if you want */
}

.quantity-input {
  border: none;
  color: blanchedalmond;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  text-align: center;
  background-color: rgb(194, 105, 64);
  font-size: 1rem;
  outline: none;
}