.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  padding-left: 0;
  padding-right: 0;
  background-color: lightpink;
  width: 100%;
}

/* in products.css */
.popup-overlay {
  top: 0;
  left: 0;
  width: 20vw;
  height: 100vh;
  background: rgba(255, 192, 203, 0.5); /* light pink overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  backdrop-filter: blur(5px);
}

.popup-content {
  background: rgb(197, 36, 98);
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(214, 97, 132, 0.8);
  padding: 0;
  border: 4px dotted hotpink;

}
