.product-image {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-image:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgb(240, 99, 141);
  cursor: pointer;
}

.buy-button {
  transition: transform 0.1s ease, box-shadow 0.3s ease;
}

.buy-button:hover {
  transform: scale(1.07);
  box-shadow: 0 0 10px rgb(240, 99, 141);
  cursor: pointer;
}
